<!--<script src="vendor/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>-->
<!--<script src="vendor/ui-bootstrap-tpls-0.12.0.min.js"></script>-->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<!--<button type="button" class="btn btn-info" style="float: right;">Edit period</button>-->
<form>
<h2>Period: {{period.period_name}}</h2>
<h2>From: {{period.start_date.substring(0,10)}}
    To: {{period.end_date.substring(0,10)}}</h2>
<h2>Max-Points: {{period.max_points}}</h2>
</form>
<button type="button" class="btn btn-info" ng-click="showStudents()" >Show students</button>
<p></p>
<div>
        <div class="col-md-4" style="border: 2px solid black; border-radius: 10px; padding: 1em; float: left;" ng-show="isAdmin">
            <div class="alert alert-info" role="alert" style="text-align: center">Calendar</div>
            <input type="date" ng-model="datePicked" min="{{period.start_date.substring(0,10)}}" max="{{period.end_date.substring(0,10)}}">
            <p></p>
            <label for="student">Choose student to give attendence:</label>
            <select ng-options="student.first_name for student in students" ng-model="student" name="chosenStudent" id="student" class="form-control" style="width:10em;">
                <option value="">Select student</option>
                <option value={{student}}></option>
            </select>
            <p></p>
            <button type="button" class="btn btn-info" ng-click="addStudentToAttendence(student)" ng-model="student" style="float: right;">Add student</button>
        </div>
        <div class="col-md-8" style="border: 2px solid black; border-radius: 10px; padding: 1em; float: right;" ng-hide="attendenceDisplay">
            <div class="alert alert-info" role="alert" style="text-align: center; font-size: 25px; font-family: Verdana;" >Attendence</div>
            <form>
                <ul>
                    <li ng-repeat="attendedStudent in attendedStudents">{{attendedStudent.first_name}} {{attendedStudent.last_name}}</li>
                </ul>
            </form>

        </div>
        <div class="col-md-8" style="border: 2px solid black; border-radius: 10px; padding: 1em; float: right;" ng-show="attendenceDisplay">
            <div class="alert alert-info" role="alert" style="text-align: center; font-size: 25px; font-family: Verdana;" >Students</div>
            <p>Attended:</p>
            <form>
                <ul>
                    <li ng-repeat="student in students">{{student.first_name}} {{student.last_name}}</li>
                </ul>
            </form>
            <div class="col-md-8">
                <accordion close-others="true">
                    <accordion-group ng-repeat="student in students | orderBy:'name':reverse | filter:studentfilter" heading="{{student.first_name}} {{student.last_name}}">
                        <table class="table">
                            <thead>
                            <tr>
                                <td><b>Details</b></td>
                            </tr>
                            </thead>
                            <tr>
                                <td>Name</td><td>{{student.first_name}} {{student.last_name}}</td>
                            </tr>
                            <tr>
                                <td>Points for student</td><td>{{student.study_points_total}}</td>
                            </tr>
                            <tr>
                                <td>Address</td><td>{{student.address}}</td>
                            </tr>
                            <tr>
                                <td>Phone</td><td>{{student.phone}}</td>
                            </tr>
                            <tr>
                                <td>Email</td><td>{{student.email}}</td>
                            </tr>
                            <tfoot>
                            <tr>
                                <td ng-click=""><a href="">See profile</a></td><td></td>
                            </tr>
                            </tfoot>
                        </table>
                    </accordion-group>
                </accordion>
            </div>
        </div>
        <div class="col-md-4" style="border: 2px solid black; border-radius: 10px; padding: 1em; float: left;">
            <div class="alert alert-info" role="alert" style="text-align: center">Classes</div>
            <ul style="list-style:none; position:relative; left:15%;">
                <form ng-repeat="class in classes">
                    <a href="">{{class.class_name}}</a>
                </form>
            </ul>
        </div>
        <div class="col-md-4" style="border: 2px solid black; border-radius: 10px; padding: 1em; float: left;" ng-show="isAdmin">
            <div class="alert alert-info" role="alert" style="text-align: center">Add class to period</div>
            <label for="class">Classes:</label>
            <select ng-options="class.class_name for class in availableClasses" ng-model="class" name="class" id="class" class="form-control" style="width:10em;">
                <option value="">Select class</option>
                <option value={{class}}></option>
            </select>
            <p></p>
            <button type="button" class="btn btn-info" ng-click="addClassToPeriod(class)" ng-model="class">Add class to period</button>
        </div>
        <!--<div class="col-md-4" style="border: 2px solid black; border-radius: 10px; padding: 1em; float: left;" ng-show="isAdmin">-->
            <!--<div class="alert alert-info" role="alert" style="text-align: center">Add task to period</div>-->
            <!--<label for="task">Tasks:</label>-->
            <!--<select ng-options="task.task_name for task in availableTasks" ng-model="task" name="class" id="task" class="form-control" style="width:10em;">-->
                <!--<option value="">Select Task</option>-->
                <!--<option value={{task}}></option>-->
            <!--</select>-->
            <!--<p></p>-->
            <!--<button type="button" class="btn btn-info" ng-click="addTaskToPeriod(task)" ng-model="class">Add task to period</button>-->
        <!--</div>-->
        <div class="col-md-4" style="border: 2px solid black; border-radius: 10px; padding: 1em; float: left;" ng-show="isAdmin">
            <div class="alert alert-info" role="alert" style="text-align: center">Add new task</div>
            <form>
                Task name: <input type="text" class="newPeriods" ng-model="newTaskName"><br>
                Description of task: <input type="text" class="newPeriods" ng-model="newTaskDescription"><br>
                Max points: <input type="number" class="newPeriods" ng-model="newTaskPoints"><br>
                <!--<button type="button" class="btn btn-info" ng-click="addTask()">Add task</button>-->
                <!--<label for="task">Tasks:</label>-->
                <!--<select ng-options="task.task_name for task in availableTasks" ng-model="task" name="class" id="task" class="form-control" style="width:10em;">-->
                    <!--<option value="">Select Task</option>-->
                    <!--<option value={{task}}></option>-->
                <!--</select>-->
                <!--<p></p>-->
                <button type="button" class="btn btn-info" ng-click="addTaskToPeriod(task)" ng-model="class">Add task to period</button>
            </form>
        </div>
</div>






