body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.field
{
  margin-bottom:10px;
}
.detailsbutton
{
  float: right;
}
.repeatstudents
{
  border-bottom: 1px solid black;
}
.newPeriods {
  width: 100%;
  clear: both;
  display: inline-block;
  margin-bottom:10px;
}
.forms {
  border: 2px solid black;
  padding: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: inline-block;
}